@font-face {
  font-family: 'PresicavRg-Bold';
  src: url("webfonts/363C51_0_0.eot");
  src: url("webfonts/363C51_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/363C51_0_0.woff2") format("woff2"), url("webfonts/363C51_0_0.woff") format("woff"), url("webfonts/363C51_0_0.ttf") format("truetype");
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}

.title {
  font-family: 'PresicavRg-Bold';
  text-align: center;
  margin-bottom: 38px !important;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  background: url("../img/westworld.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

.overlay {
  position: absolute;
  height: 100%;
  min-height: 35rem;
  width: 100%;
  background-color: #212529;
  opacity: 0.75;
  z-index: -1;
}

@media (min-width: 768px) {
  .overlay {
    min-height: 0;
  }
}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.logo span:nth-child(1) {
  color: #00cfb4;
}

.logo span:nth-child(2) {
  color: #00b8c8;
}

p a {
  color: white;
  text-decoration: underline;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background-color: rgba(10, 47, 62, 0.8);
  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

.btn-secondary {
  background-color: #212529;
  border-color: #212529;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #0a0c0d !important;
  border-color: #0a0c0d !important;
}

.input {
  font-weight: 300 !important;
}
